<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="login">Github: Name </label>
    <input name="login" id="login_name">
    <button onclick="getCoderData(this)">FETCH DATA</button>
    <h1 id="login"></h1>
    <div id="avatar_url"></div>
    <script src="/static/script.js"></script>
</body>
</html>