<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>UserCr</title>
</head>
<body class="m-5">
    <div class="row mb-3">
        <div class="col col-sm-1"></div>
        <div class="col">
            <h1>All Users</h1>
        </div>
        <div class="col col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col col-sm-1"></div>
        <table class="col table table-striped table-bordered border-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for user in all_users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.first_name + " " + user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{ user.created_at.strftime("%B %d %Y") }}</td>
                    <td><a href="/show/{{ user.id }}">Show</a> | <a href="/show/{{ user.id }}/edit">Edit</a> | <a href="/delete/{{ user.id }}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="col col-sm-1"></div>
    </div>
    <div class="row mt-5">
        <div class="col col-sm-1"></div>
        <div class="col">
            <p><a href="/new">Add a New User</a></p>
        </div>
        <div class="col col-sm-1"></div>
    </div>
</body>
</html>