
body {
    padding: 0px 20px;
    color: #191970;
}

nav {
    display: grid;
    grid-template-columns: 2fr 1fr .75fr;
    grid-template-rows: 1fr;
}
nav h1 {
    grid-area: 1 / 1;
    font-size: xx-large;
    opacity: 0.7;
}
nav div {
    grid-area: 1 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
}

table {
    border: 2px solid #191970;
    border-collapse: collapse;
    width: clamp(25%, 75%, 100%);
}

thead {
    background-color: #191970;
    color: white;
}

td, th {
    text-align: start;
    padding: 5px;
}
td {
    border-bottom: 1px solid #191970;
}

.link {
    border-left: 1px solid #191970;
}

.authorTh {
    border-right: 1px solid white;
}

button {
    background-color: white;
    border: 2px solid #191970;
}

button:hover {
    background-color: #191970;
    color: white;
    cursor: pointer;
}

label, input {
    margin-right: 10px;
}