<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Form</title>
</head>
<body class="m-5">
    <div class="row mb-5">
        <div  class="col">
            <h1>Add a New User</h1>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <h2><a class="col nav-link" href="/">Home</a></h2>
        </div>
    </div>

    <div class="row">
        <form class="col form form-control form-control-lg" action="/new/user" method="POST">
            {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input type="hidden" name="id">
            <div class="row m-3">
                <label class="col-sm-2" for="fname">First Name:</label>
                <input class="col" type="text" name="fname">
            </div>
            <div class="row m-3">
                <label class="col-sm-2" for="lname">Last Name:</label>   
                <input class="col" type="text" name="lname">
            </div>
            <div class="row m-3">
                <label class="col-sm-2"  for="email" >Email:</label>
                <input class="col" type="text" name="email">
            </div>
            <div>
                <input class="btn btn-light border-dark btn-lg m-3" type="submit" value="Create">
            </div>
        </form>
        <div class="col"></div>
    </div>
    {{incorrect_email}}
</body>
</html>


