.tabs {
    padding: 0px 25px;
    color: white;
    background-color: black;
    border: 2px solid white;
}
.tabs:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}

.contents {
    border: 2px solid black;
    width: 400px;
}