<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Form Submition</title>
</head>
<body style="margin: 10px;">
    <div class="bg-dark text-white" style="padding: 20px;">
        <h1>Submitted Information</h1>
        <p>Name: {{name}}</p>
        <p>Dojo location: {{location}}</p>
        <p>Favorite Language: {{language}}</p>
        <p>Comment: {{comment}}</p>
    </div>
</body>
</html>