
body {
    padding: 0px 20px;
    color: #191970;

}

nav {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 1fr;
    min-width: 325px;
}

main {
    min-width: 325px;
    display: flex;
}
nav h1 {
    grid-area: 1 / 1;
    font-size: clamp(14px, 20px, 26px);
}
nav div {
    grid-area: 1 / 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.HomeNav {
    margin-right: 5px;
}

table {
    border: 2px solid #191970;
    border-collapse: collapse;
    flex: 1;
;
}

thead {
    background-color: #191970;
    color: white;
}

td, th {
    text-align: start;
    padding: 5px;
}
td {
    border-bottom: 1px solid #191970;
}

.link {
    border-left: 1px solid #191970;
}

.authorTh {
    border-right: 1px solid white;
}

button {
    background-color: white;
    border: 2px solid #191970;
    border-radius: 5px;
}
.linkElement, .nav {
    text-decoration: none !important;
    color: #191970 !important;
    border: 2px solid #191970;
    padding: 0px 5px;
    border-radius: 5px;
}

button:hover, .linkElement:hover, .nav:hover {
    background-color: #191970;
    color: white !important;
    cursor: pointer;
}

form {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 2fr;
    min-width: 150px;
    max-width: 300px;
}

label {
    grid-area: 1 / 1;
    min-width: 100px;
}
input {
    grid-area: 1 / 2;
    min-width: 190px;
    border-radius: 5px;
}
.submitButton {
    grid-area: 2 / 2;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.formDelete {
    margin-left: 10px;
}