
.Page {
    height: 600px;
    margin: 10px;
    padding: 10px;
    background-color: #dddddd;
    border: 2px solid black;
}

.Header {
    background-color: #6aa84f;
    height: 100px;
    border: 2px solid black;
}

.Navigation {
    background-color: #6fa8dc;
    height: 340px;
    border: 2px solid black;
    margin: 10px 0px;
    flex: 1;
}

.Main {
    background-color: #e06666;
    margin: 10px 0px 10px 10px;
    height: 400px;
    border: 2px solid black;
    flex: 3;
}

.MainFlex {
    display: flex;
}

.SubContent {
    background-color: #ffd966;
    height: 300px;
    border: 2px solid black;
    margin: 5px;
    flex: 1;
}

.Advertisment {
    background-color: #b4a7d6;
    border: 2px solid black;
    margin: 5px;
    height: 60px;
}

.Flex {
    display: flex;
}
